<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Exercise 2 - Create a markdown cell with the title of the notebook.
**Assignment - Data science**

# Exercise 3 - Create a markdown cell for an introduction.
**INTRODUCTION:**
This Assignment contains various exercises related to Data science using jupyter notebook . The exercises like listing of data science languages , tools , libraries and to perform some mathematical expressions .

# Exercise 4 - Create a markdown cell to list data science languages. 
**Data science Languages:**
1. R  
2. SQL 
3. PYTHON 
4. C++ 
5. JAVA 
6. SCALA 
7. JAVA SCRIPT 
8. JULIA

# Exercise 5 - Create a markdown cell to list data science libraries.
**Data Science Libraries:**
Libraries are collection of functions and methods that allow to perform many actions without the code.

 1. Scientific computing Libraries   : Pandas , Numpy       
 2. Visualization Libraries          : Matplotlib , seaborn 
 3.  ML and Deep learning Libraries  : Scikit-learn , keras 
 4. Deep Learning Libraries          : Tenserflow , pytorch 
 5. Cluster computing framework      : Apache spark         
 6. R Libraries                      : ggplot2              
 7. Scala Libraries                  : Vegas

# Exercise 6 - Create a markdown cell with a table of Data Science tools.
**Data Science Tools**: 

| S.No                                     |              Tools                            |
|------                                    | -----                                         |
| 1.DATA MANAGEMENT TOOLS                  | MangoDB,Cassandra,mysql ,hadoop hdfs          |
| 2.DATA INTEGRATION AND TRANSFORMATION    | kafka,Spark sql, Apache airflow, kubeflow     |
| 3.DATA VISUALIZATION                     | Apache superset, Kibana , Pixiedust           |
| 4.MODEL DEPLOYMENT                       | Kubernetes, mleap, Tenserflow , seldon,       |
| 5.MODEL MODIFICATION AND ASSESSMENT      | 360 Toolbox, modelDB,                         |
| 6.CODE ASSET MANAGEMENT                  | GIT, GITHUB, GITLAB                           |
| 7.DATA ASSET MANAGEMENT                  | Apacheatlas,kylo                              |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples.
**INTRODUCTION**:
Here , we perform some arithmetic expressions like addition , subtraction , Multiplication and Division .

In [12]:
# Exercise 8 - Create a code cell to multiply and add numbers
a = 2
b = 4
c = a * b
d = a + b
print("multiplication", c)
print("addition", d)

multiplication 8
addition 6

In [11]:
# Exercise 9 - Create a code cell to convert minutes to hours.
min = 120
hr = min / 60
print(hr)

2.0

# Exercise 10 -Insert a markdown cell to list Objectives.
 1. Understand basic Data Science languages , libraries and tools 
 2. Learn to perform arithmetic operations
 3. Convert time units from minutes to hours

# Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.
## AUTHOR
Narsimha Rao Vengisetti

GITHUB LINK :
https://github.com/Nani0806/assignment